parameters:
	ignoreErrors:
		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Namespaces\\\\AsyncSearchNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\. Use AsynchronousSearchNamespace instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Namespaces\\\\DataFrameTransformDeprecatedNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Namespaces\\\\MonitoringNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Namespaces\\\\SearchableSnapshotsNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Namespaces\\\\SslNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\. Use SslNamespace instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Return type of method OpenSearch\\\\Client\\:\\:asyncSearch\\(\\) has typehint with deprecated class OpenSearch\\\\Namespaces\\\\AsyncSearchNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\. Use AsynchronousSearchNamespace instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Return type of method OpenSearch\\\\Client\\:\\:dataFrameTransformDeprecated\\(\\) has typehint with deprecated class OpenSearch\\\\Namespaces\\\\DataFrameTransformDeprecatedNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Return type of method OpenSearch\\\\Client\\:\\:monitoring\\(\\) has typehint with deprecated class OpenSearch\\\\Namespaces\\\\MonitoringNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Return type of method OpenSearch\\\\Client\\:\\:searchableSnapshots\\(\\) has typehint with deprecated class OpenSearch\\\\Namespaces\\\\SearchableSnapshotsNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Return type of method OpenSearch\\\\Client\\:\\:ssl\\(\\) has typehint with deprecated class OpenSearch\\\\Namespaces\\\\SslNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\. Use SslNamespace instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Client.php

		-
			message: """
				#^Instantiation of deprecated class OpenSearch\\\\Common\\\\Exceptions\\\\InvalidArgumentException\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\.$#
			"""
			count: 1
			path: src/OpenSearch/Endpoints/Monitoring/Bulk.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Cat\\\\Master\\:
				To promote inclusive language, use '/_cat/cluster_manager' instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/CatNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\ChunkModel\\:
				Use `upload_chunk` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\CreateModelMeta\\:
				Use `_register_meta` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\LoadModel\\:
				Use `deploy_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\UnloadModel\\:
				Use `undeploy_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\UploadModel\\:
				Use `register_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Access to deprecated property \\$endpoints of class OpenSearch\\\\Namespaces\\\\AbstractNamespace\\:
				in 2\\.4\\.0 and will be removed in 3\\.0\\.0\\. Use \\$endpointFactory property instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/SecurityNamespace.php

		-
			message: "#^Call to an undefined method OpenSearch\\\\Client\\:\\:slm\\(\\)\\.$#"
			count: 2
			path: tests/Utility.php
