parameters:
	ignoreErrors:

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Cat\\\\Master\\:
				To promote inclusive language, use '/_cat/cluster_manager' instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/CatNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\ChunkModel\\:
				Use `upload_chunk` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\CreateModelMeta\\:
				Use `_register_meta` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\LoadModel\\:
				Use `deploy_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\UnloadModel\\:
				Use `undeploy_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: """
				#^Fetching class constant class of deprecated class OpenSearch\\\\Endpoints\\\\Ml\\\\UploadModel\\:
				Use `register_model` instead\\.$#
			"""
			count: 1
			path: src/OpenSearch/Namespaces/MlNamespace.php

		-
			message: "#^Call to an undefined method OpenSearch\\\\Client\\:\\:slm\\(\\)\\.$#"
			count: 2
			path: tests/Utility.php
