name: Update API 
on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * *"
jobs:
  update-api:
    if: ${{ github.repository == 'opensearch-project/opensearch-php' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Config git to rebase
        run: git config --global pull.rebase true
      - name: Set up PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: yaml, zip, curl 
      - name: Install dependencies
        run: composer install --prefer-dist
      - name: Generate API
        run: composer run generate-api 
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: Updated opensearch-php to reflect the latest OpenSearch API spec (${{ steps.date.outputs.date }})
          title: Updated opensearch-php to reflect the latest OpenSearch API spec
          body: |
            Updated [opensearch-php](https://github.com/opensearch-project/opensearch-php) to reflect the latest [OpenSearch API spec](https://github.com/opensearch-project/opensearch-api-specification/releases/download/main-latest/opensearch-openapi.yaml)
            Date: ${{ steps.date.outputs.date }}
          branch: automated-api-update
          base: main
          signoff: true
          labels: |
              autocut
